body {
  background-image: url("../images/homepage-background.jpg");
}

.jumbotron {
  background: none;
}

#modal-image {
  max-width: 450px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
}

.footer-text {
  color: #f5f5f5;
}